li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Alerts')
    i.eos-icons.eos-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/6f783946-8b06-4fd4-4424-8590eff2d53c-1949/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Alerts', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Alerts/alerts.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Alerts', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Alerts/alerts.svg', data-event-category='Dropdown link', data-event-action='SVG Download link', data-event-label='Alerts', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | SVG file
