extends ../layouts/sign-in
block sign-in-logo
  figure
    img(src='/images/eos-logo.png', alt='EOS logo')
block info
  .info
    h1
      | EOS
      br
      | Design system
    p
      | The open source solution for cohesive UX/UI across products.
block sign-in-cookies
  div
    p
      | This site saves some information in cookies but only when
      | strictly necessary - #[a.link-light(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy', data-event-label='Auth page') Learn more].
block sign-in-header
  .margin-top-xxl
block sign-in-form
  .sign-in-form.padding-top-xxl
    h1
      | Sign in
    form.margin-top-xl.login-form
      .form-group
        label Enter your username
        input.form-control(type='text', aria-describedby='emailHelp')
      .form-group
        label Password
        input.form-control(type='password')
      button.btn.btn-primary.btn-block.margin-top-xxl(type='submit') Submit
block sign-in-footer
