doctype html
html
  head
    include shared/layout-head.pug
  body.error-bg
    section.error-content
      include shared/error/error-page-header.pug
      .error-container
        include shared/error/error-message.pug
        include shared/error/error-footer.pug
