extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Dropdown
          p.subheadline
            | Dropdowns are toggable lists of actions or other elements that open by clicking. They are useful in UIs with high volumes of information as well as for keeping UIs clean by showing information only when the user is requesting it.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Dropdown assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xl
        h3.anchor
          a#description(href='#description')
            i.eos-icons.eos-18
              | link
          | Description
        ul.list-no-padding
          li
            | Use dropdowns in tables to provide more options on rows if the space is limited.
          li
            | Avoid using dropdowns in form elements. Use a
            | #[a(href='/form-elements/select') select]
            | tag instead.
          li
            | Don't include call-to-actions in dropdown. They should always be in a button of its own as their goal is to draw the user's attention.
        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Badge types
            ul.states-list.no-list-style.js-showcase-list
              li.js-showcase-current
                input.js-element-id(type='radio', name='dropdown')
                span.radio-button
                label.js-element-label(for='default-state')
                  | Default
          .col-md-9.component-showcase-col
            strong.js-showcase-how-to
              | How to use this element
            p.js-how-to-use
            strong.d-block
              | Example
            .states-example-box
              .example-inner-box-full.js-example-inner-box.dropdown-example-box
            strong.d-block
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code.language-markup
                code.language-html
