extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | File
          p.subheadline
            | Input elements with type ‘file’ allows the user to select files from their
            | file system or device storage.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Form elements assets
            ul.dropdown-menu.dropdown-menu-right
              include ./../shared/assets.pug
    hr
    article
      section.margin-top-xxl
        h3.anchor
          a#description(href='#description')
            i.eos-icons.eos-18
              | link
          | Description
        ul.list-no-padding
          li
            | Always associate a label to every file input for good accessibility. Do not include a colon at the end of the label.
          li
            | Use only to upload file.

        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Element states
            ul.states-list.no-list-style.js-showcase-list
              li.js-showcase-current
                input.js-element-id(type='radio', name='file')
                span.radio-button
                label.js-element-label(for='default-state')
                  | Default
          .col-md-9.component-showcase-col
            strong.js-showcase-how-to
              | How to use this element
            p.js-how-to-use
            strong.d-block
              | Example
            .states-example-box
              .example-inner-box.js-example-inner-box
            strong.d-block
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code
                code.language-html
