extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Submenu
          p.subheadline
            | The submenu is the secondary menu. It is a menu that is contained within the main menu.
          p
            | Visit the #[a(href='/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout/submenu', target='_blank', rel='noreferrer nonopener') layout demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3.anchor
        a#description(href='#description')
          i.eos-icons.eos-18
            | link
        | Description
      ul
        li
          | The submenu is positioned at the top of the screen and right of the main menu.
        li
          | The submenu is fixed to the top of the screen. When a user scrolls down, the submenu will remain at the top position of the screen.
        li
          | It contains a list of items which are available within the selected item from the main menu.
        li
          | The maximum number of items in the submenu is 7. If there are more items,
          | the remaining ones will appear as a dropdown list within the #[i.eos-icons.eos-18 more_horiz] icon.
        li
          | It should always display the maximum number of visible items (but never more than
          | 7 in big screens) according to the size of the screen. The submenu should
          | calculate the available space and move items into the #[i.eos-icons.eos-18 more_horiz] dropdown as they exceed the size.
        li
          | The background color is #[code $eos-bc-pine-500].
    article.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-greater-1336.svg', alt='Submenu image for screens greater than 1336px')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-770-1335.svg', alt='Submenu image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-360-769.svg', alt='Submenu image for screens between 360px and 769px')
    article.margin-top-xxl
      h3.anchor
        a#user-menu-dropdown(href='#user-menu-dropdown')
          i.eos-icons.eos-18
            | link
        | User menu dropdown
      ul
        li
          | The user menu is found at the outmost right side of the submenu. The user icon is used as a toggle for its display.
          img.margin-top-xxl.img-fluid.mx-auto.d-block(src='/images/layout/user-dropdown.svg', alt='User dropdown example')
      li
        | The colour of the links in the dropdown is #[code $eos-bc-green-500].
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-mouse-hover.svg', alt='User dropdown link example')
      li
        | The minimum length of the dropdown is 200px and the maximum is 300px. When the length of the submenu item exceeds the available space, it will break into two lines.
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-length.svg', alt='User dropdown maximum text length')
      li
        | In case a user's name or the email address is larger than the available space, the text will be truncated with 3 dots “…”.
        | When this happens, a tooltip appears on mouseover showing the full content of the truncated text.
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-tooltip.svg', alt='Truncated user name with dropdown example')
