extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Button group
          p.subheadline
            | Grouping actions in a series of buttons helps users to visually recognise operations related to the same target.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xl
        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Button group types
            ul.states-list.no-list-style.js-showcase-list
              li.js-showcase-current
                input.js-element-id(type='radio', name='button-group')
                span.radio-button
                label.js-element-label(for='default-state')
                  | Default
          .col-md-9.component-showcase-col
            strong.js-showcase-how-to
              | How to use this element
            p.js-how-to-use
            strong.d-block
              | Example
            .states-example-box
              .example-inner-box-full.js-example-inner-box
            strong.d-block
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code.language-markup
                code.language-html
