extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Buttons
          p.subheadline
            | Buttons are elements used to perform actions such as submitting a form,
            | opening a dialog, or cancelling an action. They are an essential element
            | of interaction design and have a primary role in the conversation between a user and the system.

          p.subheadline
            | There are a number of options you can use when styling a button such as size, type, and state.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl
        h3.anchor
          a#general-specs(href='#buttons-btn-vs-link')
            i.eos-icons.eos-18
              | link
          | General specs
        .row.align-items-center.smart-specs.js-smspecs-style
          .col-sm-3.mb-4.mb-sm-0
            .smart-specs-code.js-smspecs-code
              button.btn.btn-secondary
                | Button
          .col-sm-5.mb-4.mb-sm-0
            .smart-specs-props
              h4
                | CSS properties
              ul.js-smspecs-props-list.list-unstyled
          .col-sm-4
            .smart-specs-box.justify-content-sm-center
              .smart-specs-margin
                .title
                  | margin
                .js-smspecs-m-top.top 0
                .js-smspecs-m-right.right 0
                .js-smspecs-m-bottom.bottom 0
                .js-smspecs-m-left.left 0
                .smart-specs-border
                  .title
                    | border
                  .js-smspecs-b-top.top 0
                  .js-smspecs-b-right.right 0
                  .js-smspecs-b-bottom.bottom 0
                  .js-smspecs-b-left.left 0
                  .smart-specs-padding
                    .title
                      | padding
                    .js-smspecs-p-top.top 0
                    .js-smspecs-p-right.right 0
                    .js-smspecs-p-bottom.bottom 0
                    .js-smspecs-p-left.left 0
      section.margin-top-xxl
        h3.anchor
          a#buttons-btn-vs-link(href='#buttons-btn-vs-link')
            i.eos-icons.eos-18
              | link
          | Button vs. link
        p
          | The HTML elements for buttons and links describe a very specific type of action that is
          | going to be taken when they are used. However, it is important to know when to use one or
          | the other in a specific situation:
        ul.list-no-padding
          li
            | Use links for navigating to other pages.
          li
            | Use buttons for performing an action, such as: “submit”, “merge”, “create new”,
            | “upload”, etc. These actions almost always occur on the same page.
        eos-alert(type='info', scope='section', title='Bootstrap btn-link class')
          | Do not use the #[code btn-link] class in a button element.
          | All buttons should be clearly styled as buttons. This helps the user identify the
          | type of response to expect when clicking on a given element. Go to the
          | #[a(href='/buttons/usage', data-event-category='Internal link', data-event-action='usage', data-event-label='Buttons/alert') usage] page for more information about bootstrap classes.

      section.margin-top-xxl
        h3.anchor
          a#secondary-btn(href='#secondary-btn')
            i.eos-icons.eos-18
              | link
          | Secondary button
        p
          | A secondary button is the standard button with basic style and the most commonly used option.

        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#secondary-button-examples', aria-controls='secondary-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #secondary-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary
                  | Button
                button.btn.btn-secondary.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-secondary'>Button</button>
                    | <button class='btn btn-secondary disabled'>Button</button>
                  code.js-code-render.language-html

      section.margin-top-xxl
        h3.anchor
          a#inverse-btn(href='#inverse-btn')
            i.eos-icons.eos-18
              | link
          | Inverse
        p
          | Use the inverse button when you placing a secondary button on a dark background.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#inverse-button-examples', aria-controls='inverse-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #inverse-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result.dark-bg
                button.btn.btn-secondary-inverse
                  | Button
                button.btn.btn-secondary-inverse.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-secondary-inverse'>Button</button>
                    | <button class='btn btn-secondary-inverse disabled'>Button</button>
                  code.js-code-render.language-html

      section.margin-top-xxl
        h3.anchor
          a#primary-btn(href='#primary-btn')
            i.eos-icons.eos-18
              | link
          | Primary button
        p
          | A primary button is used for call-to-actions that are clearly more important and need attention drawn to it.
        p
          | The outlined version is the alternative to solid primary buttons. Use these buttons when
          | actions are primary but don’t want to give extra visual weight.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#primary-button-examples', aria-controls='primary-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #primary-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-primary
                  | Button
                button.btn.btn-outline-primary
                  | Button
                button.btn.btn-primary.disabled
                  | Disabled
                button.btn.btn-outline-primary.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-primary'>Button</button>
                    | <button class='btn btn-outline-primary'>Button</button>
                    | <button class='btn btn-primary disabled'>Button</button>
                    | <button class='btn btn-outline-primary disabled'>Button</button>
                  code.js-code-render.language-html

      section.margin-top-xxl
        h3.anchor
          a#danger(href='#danger')
            i.eos-icons.eos-18
              | link
          | Danger button
        p
          | Use the danger button to indicate destructive or negative actions. For example, deleting
          | data.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#danger-button-examples', aria-controls='danger-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #danger-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-danger
                  | Button
                button.btn.btn-danger.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-danger'>Button</button>
                    | <button class='btn btn-danger disabled'>Button</button>
                  code.js-code-render.language-html
