extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Sizing
          p.subheadline
            | The size of buttons plays a key role in helping users to identify buttons according to their importance.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    eos-alert(type='info', scope='section', title='Bootstrap btn-xs and btn-lg aren\'t allowed')
      | Do not use the #[code btn-xs] and #[code btn-xs] button classes. They have been excluded from the EOS Design System
      | because they do not fullfill our criteria for readability and accessibility.
    article
      section.margin-top-xxl
        h3.anchor
          a#full-width-button(href='#full-width-button')
            i.eos-icons.eos-18
              | link
          | Full width buttons
        p
          | Full width buttons can span the full width of a parent container.
        p
          | Add a #[code btn-block] class to create a full width button.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#full-width-buttons-examples', aria-controls='full-width-buttons-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #full-width-buttons-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-block
                  | Button
                button.btn.btn-primary.btn-block
                  | Button
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-secondary btn-block'>Button</button>
                    | <button class='btn btn-primary btn-block'>Button</button>
                  code.js-code-render.language-html

      section.margin-top-xxl
        h3.anchor
          a#small-button(href='#small-button')
            i.eos-icons.eos-18
              | link
          | Small
        p
          | Use when there isn't enough vertical space for a regular size button.
        p
          | Never use a small button next to a regular sized button.
        p
          | Never use the "block" button next to a normal button.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#small-button-examples', aria-controls='small-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #small-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-sm
                  | Button
                button.btn.btn-primary.btn-sm
                  | Button
                button.btn.btn-secondary.btn-sm
                  i.eos-icons.eos-18
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-sm
                  i.eos-icons.eos-18
                    | autorenew
                  |  Button
                button.btn.btn-secondary.btn-sm.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.eos-18
                    | add
                button.btn.btn-primary.btn-sm.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.eos-18
                    | create
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-secondary btn-sm'>Button</button>
                    | <button class='btn btn-primary btn-sm'>Button</button>
                    | <button class='btn btn-secondary btn-sm'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                    | <button class='btn btn-primary btn-sm'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                    | <button class='btn btn-secondary btn-sm' data-toggle='tooltip' title='Add'>
                    |   <i class='eos-icons eos-18'>add</i>
                    | </button>
                    | <button class='btn btn-primary btn-sm' data-toggle='tooltip' title='Edit'>
                    |   <i class='eos-icons eos-18'>create</i>
                    | </button>
                  code.js-code-render.language-html
