extends ../layouts/layout-main

block content
  .container.dashboard.js-newsController.js-changelogController
    .row
      .col-sm-8.js-dash-title
        h1
          | EOS Design System
        p.subheadline
          | A design system made for #{config.brand} products and the Open Source community.
      - if (locals.config.showChangelog) {
        .col-sm-4
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg', alt='Changelog rocket icon')
            .changelog-box-right
              h5
                | We’ve introduced new changes.
              p
                strong
                  | See the changelog for more information.
      - }
  article.getting-started.w-100
    .container.mt-5.text-center
      img.getting-started-img(src='/images/dashboard/getting-started-full.svg', alt='Graphic depicting laboratory glassware')
      .row
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-a')
          .text-center.w-75.mt-5
            h4
              | Design new features
            | Design consistent UIs for your products using our all-in-one design kit.
            a.mt-4.d-block(href='/design-kit', data-event-category='Internal link', data-event-action='Design kit', data-event-label='Dashboard')
              | Download design kit
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-b')
          .text-center.w-75.mt-5
            h4
              | MVPs or propietary code
            | Use the NPM package to quickly theme-up your Bootstrap 4 based product.
            a.mt-4.d-block(href='/installing-npm', data-event-category='Internal link', data-event-action='Install using NPM', data-event-label='Dashboard')
              | Install using NPM
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-c')
          .text-center.w-75.mt-5
            h4
              | Ideal for downstream OSS
            | Implement SUSE's UI with your own code using design specs.
            a.mt-4.d-block(href='/design-specs', data-event-category='Internal link', data-event-action='Implement manually', data-event-label='Dashboard')
              | Implement manually

  .container.atomic-classification
    //- Resources and guides
    article.margin-top-xxl
      section
        h2
          | Atomic design classification
        p
          | All elements, components, guides, and more are delivered following the atomic
          | design methodology. We have grouped them inside the next 4 cards for you to get a
          | better overview of how we are building EOS.
        .row.margin-top-xxl
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/atoms.svg', alt='Icon depicting atoms')
              .col-lg-9
                h3.mb-0
                  | Atoms
                p
                  | The smallest building blocks of your project.
                  | Text styles, buttons, icons, input fields, checkboxes, etc.
                p
                  | Atoms: #[a(href='/buttons', data-event-category='Internal link', data-event-action='Buttons', data-event-label='Dashboard') Buttons], #[a(href='/colors', data-event-category='Internal link', data-event-action='Colors', data-event-label='Dashboard') Colors],
                  | #[a(href='/icons', data-event-category='Internal link', data-event-action='Icons', data-event-label='Dashboard') Icons], #[a(href='/patterns', data-event-category='Internal link', data-event-action='Patterns', data-event-label='Dashboard') Patterns],
                  | #[a(href='/typography', data-event-category='Internal link', data-event-action='Typography', data-event-label='Dashboard') Typography], #[a(href='/writing', data-event-category='Internal link', data-event-action='Writing guides', data-event-label='Dashboard') Writing guides]
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/molecules.svg', alt='Icon depicting molecules')
              .col-lg-9
                h3.mb-0
                  | Molecules
                p
                  | More complex entities consisting of several atoms. Things like
                  | notification toasts, data values (label: value), input fields with buttons, etc.
                p
                  | Molecules: #[a(href='/alerts', data-event-category='Internal link', data-event-action='Alerts', data-event-label='Dashboard') Alerts]
        .row.margin-top-xxl
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/organisms.svg', alt='Icon depiciting molecules')
              .col-lg-9
                h3.mb-0
                  | Organisms
                p
                  | Truly functional parts of a page, made from groups of atoms and molecules.
                p
                  | Organisms: #[a(href='/layout/main-menu', data-event-category='Internal link', data-event-action='Main menu', data-event-label='Dashboard') Main menu],
                  | #[a(href='/layout/submenu', data-event-category='Internal link', data-event-action='Submenu', data-event-label='Dashboard') Submenu]
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/templates.svg', alt='Icon depicting templates')
              .col-lg-9
                h3.mb-0
                  | Templates
                p
                  | Essentially, those are pages without real content.
                  | Text styles, buttons, icons, input fields, checkboxes, etc.
                p
                  | Templates: #[a(href='/layout', data-event-category='Internal link', data-event-action='Main layout', data-event-label='Dashboard/Templates') Main layout]
  .articles-gallery
    .container
      .row
        .col-sm-8
          h3
            | News and tutorials
        .col-sm-4.text-right
          .carousel-controller
            .ag-arrow.js-news-tutorials-before
              i.eos-icons.js-tooltip(data-toggle='tooltip', title='Previous')
                | keyboard_arrow_left
            .ag-arrow.js-news-tutorials-next
              i.eos-icons.js-tooltip(data-toggle='tooltip', title='Next')
                | keyboard_arrow_right
        .news-loading-wrap.js-news-loading-wrap
          i.eos-icons.eos-icon-loading.eos-36
      .news-tutorials-carousel.carousel.js-news-tutorials-carousel.hide
        //- Starting carousel content
        include ../shared/news/video
        include ../shared/news/article

  include ../shared/modals/video-modal.pug
