extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Global alerts
          p.subheadline
            | Global alerts are used to inform users about important information related
            | to the entire system and not just about a section or page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Alerts assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl.global-alerts-demo
        h3.anchor
          a#description(href='#description')
            i.eos-icons.eos-18
              | link
          | Description
        ul.list-no-padding
          li
            | Global alerts are triggered by system events.
          li
            | They appear as a fixed, full-width strip, on top of the screen throughout the application.
        .figure-wrap
          figure
            img(src='/images/alerts/global-alert-position.svg', alt='Global alert position')
        h3.anchor.margin-top-xxl
          a#states-types(href='#states-types')
            i.eos-icons.eos-18
              | link
          | Different states and types

        h4.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.

        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-global.alert-success
                  i.eos-icons.eos-18
                    | check_circle
                  .alert-body
                    //- Place desktop text here [the message should not be more than 65 characters long]
                    .alert-global-desktop
                      | Your account has been successfully migrated to the new user interface.
                    //- Place mobile text here [the message should not be more than 40 characters long]
                    .alert-global-mobile
                      | Your account has been migrated.
                  a.close(data-dismiss='alert')
                    i.eos-icons.eos-18
                      | close
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <div class='alert alert-global alert-success'>
                    |   <i class='eos-icons eos-18'>check_circle</i>
                    |   <div class='alert-body'>
                    |     <div class='alert-global-desktop'>Your account has been successfully migrated to the new user interface.</div>
                    |     <div class='alert-global-mobile'>Your account has been migrated.</div>
                    |   </div>
                    |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                    | </div>
                  code.js-code-render.language-html
        .margin-top-xxl
          h4
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-info
                    i.eos-icons.eos-18
                      | info
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | The new Patch Finder 2.0 will be released soon.
                        | You can #[a see the details] of this update.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        | #[a Patch Finder 2.0] will be released soon.
                    a.close(data-dismiss='alert')
                      i.eos-icons.eos-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-global alert-info'>
                      |   <i class='eos-icons eos-18'>info</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-global-desktop'>The new Patch Finder 2.0 will be released soon. You can <a>see the details</a> of this update.</div>
                      |     <div class='alert-global-mobile'><a>Patch Finder 2.0</a> will be released soon.</div>
                      |   </div>
                      |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                      | </div>
                    code.js-code-render.language-html
        .margin-top-xxl
          h4
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-warning
                    i.eos-icons.eos-18
                      | warning
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | Your browser is outdated. For a better experience consider upgrading it to the latest version available.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        | Your browser is outdated. Consider upgrading it.
                    a.close(data-dismiss='alert')
                      i.eos-icons.eos-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-global alert-warning'>
                      |   <i class='eos-icons eos-18'>warning</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-global-desktop'>Your browser is outdated. For a better experience consider upgrading it to the latest version available.</div>
                      |     <div class='alert-global-mobile'>Your browser is outdated. Consider upgrading it.</div>
                      |   </div>
                      |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                      | </div>
                    code.js-code-render.language-html
        .margin-top-xxl
          h4
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when the alert should be dismissible use a warning alert instead.
            | In many cases like this, the user path can be changed to achieve better results without requiring a close button in the component.

          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-danger
                    i.eos-icons.eos-18
                      | error
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | The connection has been lost. Check your connection and refresh this page.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        | The connection has been lost.
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-global alert-danger'>
                      |   <i class='eos-icons eos-18'>error</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-global-desktop'>The connection has been lost. Check your connection and refresh this page.</div>
                      |     <div class='alert-global-mobile'>The connection has been lost.</div>
                      |   </div>
                      | </div>
                    code.js-code-render.language-html
