/* Pagination
   ========================================================================== */
/**
*  Use it in HTML as
*  <div class='btn'>
*    <div class='badge'>HAWK</div>
*  </div>
*
*  Component included in buttons. It displays a badge containing data
*
* Variables file: assets/stylesheets/eos-custom-components/badge/badge.variables.scss
*/
.pagination {
  align-items: center;
  background: $eos-bc-white;
  border: 1px solid $eos-bc-gray-1000;
  border-radius: 20px;
  display: inline-flex;
  padding: 0;

  .page-item {
    border-right: 1px solid $eos-bc-gray-1000;
    margin: 0;
    padding: 0;

    &:first-child {
      border-bottom-left-radius: 16px;
      border-left: 0;
      border-top-left-radius: 16px;
    }

    &:last-child {
      border-bottom-right-radius: 16px;
      border-right: 0;
      border-top-right-radius: 16px;
    }

    &.active,
    &:hover {
      background-color: $eos-bc-pine-500;
      color: $eos-bc-white;

      .page-link {
        background: transparent;
        border-color: transparent;
      }
    }

    &.disabled {
      background-color: $eos-bc-gray-50;

      .page-link {
        background-color: transparent;
        color: $eos-bc-gray-500;
      }
    }
  }

  .page-link {
    background: inherit;
    border: 0;
    border-radius: 0;
    color: $eos-bc-gray-1000;
    font-weight: normal;
    margin: 0;
    padding: 8px 16px;
    transition: background-color 0.15s ease;

    &:hover {
      color: $eos-bc-white;
    }

    // reset defaults for icon control
    .eos-icons {
      width: auto;
    }

  }

  &-actions {
    align-items: center;
    display: inline-flex;
    margin-left: 16px;

    .goto-field {
      align-items: center;
      display: flex;

      input {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 32px;
      }
    }
  }
}

.pagination-count {
  margin-right: 16px;
}
