//- ps- prefix from panel-slidein
.ps-device-top.js-eos-icons-code-example
  h3.js-eos-icons-name
  //- Template for static icons
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    i.eos-icons.eos-48.js-eos-icons-name
  h6.margin-top-xl
    | Code
  code
    | &lt;i class="eos-icons"&gt
    span.js-eos-icons-name
    | &lt;/i&gt
  //- Template for animated icons
.ps-device-top.eos-animation-icons-code-example.d-none.js-eos-animation-icons-code-example
  h3.js-eos-icons-name
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    .animated-icons-container.js-animated-icons-container
      img.js-animated-eos-icons-svg.eos-48
  h6.margin-top-xl
    | Choose colors & download
  .colors-panel
    span.icon-color-circle.js-icon-color-circle.js-icon-color-gray(data-color='gray')
      i.eos-icons.eos-18.eos-light.d-none
        | done
    span.icon-color-circle.js-icon-color-circle.icon-color-white.js-icon-color-white(data-color='white')
      i.eos-icons.eos-18.d-none
        | done
    a.btn.btn-primary.js-download-animated-icon
      i.eos-icons.eos-18
        | file_download
      | SVG

  h6.margin-top-xl
    | Code
  code
    | &lt;img src="
    span.js-eos-animated-icons-name
    | "&gt

//- Template for all icons
h6.margin-top-l
  | When to use this icon
.ps-device-middle
  .do-dont-container.do-dont-container-full-width.margin-top-l
    .do-column
      .do-dont-title
        h6
          i.eos-icons.eos-18
            | check_circle
          | Do
      .do-dont-content
        p.js-eos-icons-do
  hr
  .do-dont-container.do-dont-container-full-width
    .dont-column
      .do-dont-title
        h6
          i.eos-icons.eos-18
            | cancel
          | Don't
      .do-dont-content
        p.js-eos-icons-dont
