.nav-wrap
  ul.menu-togglable.no-list-style
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Dashboard
      a.menu-title.js-select-current-parent.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
        i.eos-icons
          | home
        span.menu-title-content
          | Home
      li.menu-item.menu-dropdown
        input#documentation-toggle.js-dropdown-toggle(type='checkbox')
        label.menu-title(for='documentation-toggle')
          i.eos-icons
            | school
          span.menu-title-content
            | Documentation
          i.eos-icons.eos-18.float-right.menu-expand
            | keyboard_arrow_down
        ul.menu-dropdown-list.menu-element
          li.menu-collapsed-title
            | Documentation
          li
            a.menu-title.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
              | Installing EOS npm
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/design-specs', data-feature-flag= docEnabled['/design-specs'])
              | Implementing design specs
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
              | Design kit
      li.menu-item
        .menu-element
          span.main-collapsed-title
            | Coming next
        a.menu-title.js-select-current-parent.js-feature-flag(href='/coming-next', data-feature-flag= docEnabled['/coming-next'])
          i.eos-icons
            | star
          span.menu-title-content
            | Coming next
    hr
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Alerts
      a.menu-title.js-select-current-parent.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
        i.eos-icons
          | notifications
        span.menu-title-content
          | Alerts
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Badges
      a.menu-title.js-select-current-parent.js-feature-flag(href='/badges', data-feature-flag= docEnabled['/badges'])
        i.eos-icons
          | label
        span.menu-title-content
          | Badges
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Buttons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
        i.eos-icons
          | crop_16_9
        span.menu-title-content
          | Buttons
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Cards
      a.menu-title.js-select-current-parent.js-feature-flag(href='/cards', data-feature-flag= docEnabled['/cards'])
        i.eos-icons
          | recent_actors
        span.menu-title-content
          | Cards
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Colors
      a.menu-title.js-select-current-parent.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
        i.eos-icons
          | color_lens
        span.menu-title-content
          | Colors
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Dropdown
      a.menu-title.js-select-current-parent.js-feature-flag(href='/dropdown', data-feature-flag= docEnabled['/cards'])
        i.eos-icons
          | arrow_drop_down_circle
        span.menu-title-content
          | Dropdown
      li.menu-item.menu-dropdown.js-feature-flag(data-feature-flag= docEnabled['/menuselection-form'])
        input#form-elements-toggle.js-dropdown-toggle(type='checkbox')
        label.menu-title(for='form-elements-toggle')
          i.eos-icons
            | assignment
          span.menu-title-content
            | Form elements
          i.eos-icons.eos-18.float-right.menu-expand
            | keyboard_arrow_down

        ul.menu-dropdown-list.menu-element
          li.menu-collapsed-title
            | Form elements
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/address', data-feature-flag= docEnabled['/form-elements/checkbox'])
              | Address
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/checkbox', data-feature-flag= docEnabled['/form-elements/checkbox'])
              | Checkbox
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/input-fields', data-feature-flag= docEnabled['/form-elements/input-fields'])
              | Input fields
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/radio-buttons', data-feature-flag= docEnabled['/form-elements/radio-buttons'])
              | Radio buttons
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/select', data-feature-flag= docEnabled['/form-elements/select'])
              | Select
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/text-area', data-feature-flag= docEnabled['/form-elements/text-area'])
              | Text area
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/toggle', data-feature-flag= docEnabled['/form-elements/toggle'])
              | Toggle
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Icons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
        i.eos-icons
          | miscellaneous
        span.menu-title-content
          | Icons
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Links
      a.menu-title.js-select-current-parent.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
        i.eos-icons
          | link
        span.menu-title-content
          | Links
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Pagination
      a.menu-title.js-select-current-parent.js-feature-flag(href='/pagination', data-feature-flag= docEnabled['/pagination'])
        i.eos-icons
          | settings_ethernet
        span.menu-title-content
          | Pagination
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Patterns
      a.menu-title.js-select-current-parent.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
        i.eos-icons
          | patterns
        span.menu-title-content
          | Patterns
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Tables
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tables', data-feature-flag= docEnabled['/tables'])
        i.eos-icons
          | grid_on
        span.menu-title-content
          | Tables
    li.menu-item.menu-dropdown
      input#layout-toggle.js-dropdown-toggle(type='checkbox')
      label.menu-title(for='layout-toggle')
        i.eos-icons
          | web
        span.menu-title-content
          | Templates
        i.eos-icons.eos-18.float-right.menu-expand
          | keyboard_arrow_down
      ul.menu-dropdown-list.menu-element
        li.menu-collapsed-title
          | Templates
        li
          a.menu-title.js-select-current.js-feature-flag(href='/templates/error-page', data-feature-flag= docEnabled['/templates/error-page'])
            | Error page
        li
          a.menu-title.js-select-current-parent.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
            | Layout
        li
          a.menu-title.js-feature-flag.js-select-current(href='/templates/sign-in', data-feature-flag= docEnabled['/templates/sign-in'])
            | Sign in
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Tooltips
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
        i.eos-icons
          | chat_bubble_outline
        span.menu-title-content
          | Tooltips
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Typography
      a.menu-title.js-select-current-parent.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
        i.eos-icons
          | text_fields
        span.menu-title-content
          | Typography
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Writing guides
      a.menu-title.js-select-current-parent.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
        i.eos-icons
          | spellcheck
        span.menu-title-content
          | Writing guides
    - if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
      li.menu-item.menu-dropdown
        input#internal-tools-toggle.js-dropdown-toggle(type='checkbox')
        label.menu-title(for='internal-tools-toggle')
          i.eos-icons
            | build
          span.menu-title-content
            | Internal tools
          i.eos-icons.eos-18.float-right.menu-expand
            | keyboard_arrow_down
        ul.menu-dropdown-list.menu-element
          li.menu-collapsed-title
            | Internal tools
          li
            a.menu-title.js-select-current(href='/internal/design-specs')
              | Design specs
    - }
