.submenu.js-submenu-section
  //- Demo layout
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='examples')
    a.submenu-item.js-select-current(href='/examples/demo-layout.html')
      | Submenu 1
    a.submenu-item.js-select-current
      | Submenu 2
    a.submenu-item.js-select-current
      | Submenu 3
    a.submenu-item.js-select-current
      | Submenu 4
    a.submenu-item.js-select-current
      | Submenu 5
    a.submenu-item.js-select-current
      | Submenu 6
    a.submenu-item.js-select-current
      | Submenu 7
    a.submenu-item.js-select-current
      | Submenu 8
    a.submenu-item.js-select-current
      | Submenu 9

  //- Colors
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='colors')
    a.submenu-item.js-select-current.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
      | Colors
    a.submenu-item.js-select-current.js-feature-flag(href='/colors/usage', data-feature-flag= docEnabled['/colors/usage'])
      | Usage

  //- Icons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='icons')
    a.submenu-item.js-select-current.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
      | Icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/eos-icons-set', data-feature-flag= docEnabled['/icons/eos-icons-set'])
      | EOS icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/logo-icons-set', data-feature-flag= docEnabled['/icons/logo-icons-set'])
      | Logo icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/commonly-used', data-feature-flag= docEnabled['/icons/commonly-used'])
      | Most commonly used icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/icon-ux', data-feature-flag= docEnabled['/icons/icon-ux'])
      | Icon UX
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/arrows-usage', data-feature-flag= docEnabled['/icons/arrows-usage'])
      | Arrow icons usage

  //- Input fields
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/input-fields')
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields', data-feature-flag= docEnabled['/form-elements/input-fields'])
      | Text
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/password', data-feature-flag= docEnabled['/form-elements/input-fields/password'])
      | Password
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/range', data-feature-flag= docEnabled['/form-elements/input-fields/range'])
      | Range
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/file', data-feature-flag= docEnabled['/form-elements/input-fields/file'])
      | File
  //- checkbox
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/checkbox')
    a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/checkbox', data-feature-flag= docEnabled['/form-elements/checkbox'])
      | Checkbox

  //- Toggle
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/toggle')
    a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/toggle', data-feature-flag= docEnabled['/form-elements/toggle'])
      | Toggle

  //- Badges
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='badges')
    a.submenu-item.js-select-current.js-feature-flag(href='/badges', data-feature-flag= docEnabled['/badges'])
      | Badges

  //- checkbox
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/radio-buttons')
    a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/radio-buttons', data-feature-flag= docEnabled['/form-elements/radio-buttons'])
      | Radio buttons
  //- Select
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/select')
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/select', data-feature-flag= docEnabled['/form-elements/select'])
      | Single selection
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/select/multiple-selection', data-feature-flag= docEnabled['/form-elements/select/multiple-selection'])
      | Multiple selection
  //- text-area
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/text-area')
    a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/text-area', data-feature-flag= docEnabled['/form-elements/text-area'])
      | Text area

  //- Address
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='form-elements/address')
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/address', data-feature-flag= docEnabled['/form-elements/address'])
      | Address format
    a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/address/displaying-addresses', data-feature-flag= docEnabled['/form-elements/address/displaying-addresses'])
      | Displaying addresses

  //- Documentation: NPM
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='installing-npm')
    a.submenu-item.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
      | Installing EOS npm

  //- Documentation: Design Specs
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='design-specs')
    a.submenu-item.js-select-current.js-feature-flag(href='/design-specs', data-feature-flag= docEnabled['/design-specs'])
      | Implementing design specs

  //- Documentation - design-kit
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='design-kit')
    a.submenu-item.js-select-current.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
      | Design kit

  //- Writing guides
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='writing')
    a.submenu-item.js-select-current.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
      | Writing guides
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-voice', data-feature-flag= docEnabled['/writing/brand-voice'])
      | Brand voice
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-tone', data-feature-flag= docEnabled['/writing/brand-tone'])
      | Brand tone
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/ux-writing', data-feature-flag= docEnabled['/writing/ux-writing'])
      | UX writing
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/conventions-and-rules', data-feature-flag= docEnabled['/writing/conventions-and-rules'])
      | Conventions and rules
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/acronyms', data-feature-flag= docEnabled['/writing/acronyms'])
      | Acronyms

  //- Buttons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='buttons')
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
      | Buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/button-group', data-feature-flag= docEnabled['/buttons/button-group'])
      | Button group
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/icon-buttons', data-route= '/buttons/icon-buttons', data-feature-flag= docEnabled['/buttons/icon-buttons'])
      | Icon buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/sizing', data-route= '/buttons/sizing', data-feature-flag= docEnabled['/buttons/sizing'])
      | Sizing
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/positioning', data-route= '/buttons/positioning', data-feature-flag= docEnabled['/buttons/positioning'])
      | Positioning
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/usage', data-route= '/buttons/usage', data-feature-flag= docEnabled['/buttons/usage'])
      | Usage

  //- Patterns
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='patterns')
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
      | Patterns
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/common-actions', data-feature-flag= docEnabled['/patterns/common-actions'])
      | Common actions
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/loading', data-route= '/patterns/loading', data-feature-flag= docEnabled['/patterns/loading'])
      | Loading
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/spacing', data-route= '/patterns/spacing', data-feature-flag= docEnabled['/patterns/spacing'])
      | Spacing
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/date-time', data-route= '/patterns/date-time', data-feature-flag= docEnabled['/patterns/date-time'])
      | Date & time

  //- Alerts
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='alerts')
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
      | Alerts
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/global', data-route= '/alerts/global', data-feature-flag= docEnabled['/alerts/global'])
      | Global
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/section', data-route= '/alerts/section', data-feature-flag= docEnabled['/alerts/section'])
      | Section
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/inline', data-route= '/alerts/inline', data-feature-flag= docEnabled['/alerts/inline'])
      | Inline
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/usage', data-route= '/alerts/usage', data-feature-flag= docEnabled['/alerts/usage'])
      | Usage

  //- Error page
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='templates/error-page')
    a.submenu-item.js-select-current.js-feature-flag(href='/templates/error-page', data-feature-flag= docEnabled['/templates/error-page'])
      | Error page

  //- Layout
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='layout')
    a.submenu-item.js-select-current.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
      | Layout
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/main-menu', data-route= '/layout/main-menu', data-feature-flag= docEnabled['/layout/main-menu'])
      | Main menu
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/submenu', data-route= '/layout/submenu', data-feature-flag= docEnabled['/layout/submenu'])
      | Submenu
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/footer', data-route= '/layout/footer', data-feature-flag= docEnabled['/layout/footer'])
      | Footer

  //- Sign in
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='templates/sign-in')
    a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in', data-feature-flag= docEnabled['/templates/sign-in'])
      | Sign in
    a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/sign-up', data-route= '/templates/sign-in/sign-up', data-feature-flag= docEnabled['/templates/sign-in/sign-up'])
      | Sign up
    a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/password-recovery', data-route= '/templates/sign-in/password-recovery', data-feature-flag= docEnabled['/templates/sign-in/password-recovery'])
      | Password recovery
    a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/alerts-in-sign-in', data-route= '/templates/sign-in/alerts-in-sign-in', data-feature-flag= docEnabled['/templates/sign-in/alerts-in-sign-in'])
      | Alerts in sign in page

  //- Links
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='links')
    a.submenu-item.js-select-current.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
      | Links

  //- Tooltips
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='tooltips')
    a.submenu-item.js-select-current.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
      | Tooltips
    a.submenu-item.js-select-current.js-feature-flag(href='/tooltips/smart-tooltips', data-feature-flag= docEnabled['/tooltips/smart-tooltips'])
      | Smart tooltips

  //- Typography
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='typography')
    a.submenu-item.js-select-current.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
      | Typography

  //- Dashboard
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='')
    a.submenu-item.js-select-current.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
      | Home

  //- Cards
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='cards')
    a.submenu-item.js-select-current.js-feature-flag(href='/cards', data-feature-flag= docEnabled['/cards'])
      | Cards

  //- Dropdown
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='dropdown')
    a.submenu-item.js-select-current.js-feature-flag(href='/dropdown', data-feature-flag= docEnabled['/dropdown'])
      | Dropdown

  //- coming-next
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='coming-next')
    a.submenu-item.js-select-current.js-feature-flag(href='/coming-next', data-feature-flag= docEnabled['/coming-next'])
      | Coming next

  //- Tables
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='tables')
    a.submenu-item.js-select-current.js-feature-flag(href='/tables', data-feature-flag= docEnabled['/tables'])
      | Tables
    a.submenu-item.js-select-current.js-feature-flag(href='/tables/dark', data-feature-flag= docEnabled['/tables/dark'])
      | Dark theme

  //- Responsive nav
  .dropdown.dropdown-more.js-submenu-more
    a.submenu-item.dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.eos-24
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        span More
      li.js-submenu-more-list
//- Demo user-profile
  .user-profile.js-user-profile.dropdown
    .dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.eos-24
        | account_circle
    ul.dropdown-menu.dropdown-menu-right
      li.user-name
        strong.js-tooltip(data-truncate-characters=20)
          | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
        span.js-tooltip(data-truncate-px=160)
          | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip@something.com
      li
        a.dropdown-item
          i.eos-icons.eos-18
            | edit
          | Edit profile
        a.dropdown-item
          i.eos-icons.eos-18
            | settings
          | Settings
        a.dropdown-item
          i.eos-icons.eos-18
            | subscriptions
          | My subscriptions
      li
        a.dropdown-item
          i.eos-icons.eos-18
            | exit_to_app
          | Logout
