block sign-up-form
  .sign-in-form
    h1
      | Sign up
    form.margin-top-xl
      .form-group
        label Enter your username
        input.form-control(type='text', aria-describedby='emailHelp')
      .form-group
        label Email
        input.form-control(type='text')
      .form-group
        label(for='password') Password
        .input-group
          input#password.form-control.eos-input-password(type='password')
          .input-group-append
            i.eos-icons.eos-18.toggle-password.js-toggle-password visibility
          .password-strength-meter.d-none
            .meter
            .meter
            .meter
            .meter-text
          .form-messages
            | Your password must be 8-20 characters long, contain letters numbers, and special characters.
      .form-group
        label Confirm password
        input.form-control(type='password')
      .form-group
        label Gender
        .form-check
          input#red.form-check-input.eos-radio-btn(type='radio', name='color', value='option1', checked='')
          label.form-check-label(for='red')
            | Male
        .form-check
          input#yellow.form-check-input.eos-radio-btn(type='radio', name='color', value='option2')
          label.form-check-label(for='yellow')
            | Female
      .form-group
        label(for='select')
          strong Country
        select#select.custom-select
          option(value='0') Choose one of the available options
          option(value='1') Belgium
          option(value='2') Croatia
          option(value='3') Denmark
          option(value='4') France
          option(value='5') Germany
      .form-group.custom-file
        input#file-input.custom-file-input(type='file')
        label.custom-file-label(for='file-input') Upload a photo
      .form-group
        label.margin-bottom-s(for='range') I want my subscription to last for:
        input#range(type='range', value='1', min='1', max='100')
      .form-group
        label(for='select') I want access to:
        select#sel2.custom-multiple-select(multiple='')
          option(value='1') openSUSE
          option(value='2') SUSE Cloud
          option(value='3') SUSE Linux Enterprise High Availability
          option(value='4') SUSE Linux Enterprise Server for SAP Applications
          option(value='5') SUSE Studio
        .form-messages.text-right hold control/command + click to select more than one option
      .form-group
        label(for='textarea') Additional comments
        textarea#textarea.form-control.text-area(maxlength='500')
        .form-messages.d-flex.justify-content-end
          span.maxlength 500/500
      .form-group
        .form-check
          input#option-1.form-check-input.eos-checkbox(type='checkbox')
          label.form-check-label(for='option-1')
            | I want to receive promotional material
        .form-check
          input#option-2.form-check-input.eos-checkbox(type='checkbox', checked)
          label.form-check-label(for='option-2')
            | I agree to the terms of service
      a.btn.btn-primary.btn-block.margin-top-xxl(role='button', href='demo-sign-in.html') Sign up
