button.feedback-tool-button.js-feedback-tool-open.js-screenshoot.js-tooltip(data-toggle='tooltip', title='Send feedback')
  i.eos-icons.eos-18
    | flag

  | Feedback

.feedback-tool.js-feedback-tool.card.js-draggable
  //- Form page
  .js-feedback-tool-card-form
    .feedback-tool-card-header
      h6
        | Send feedback
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger.js-tooltip(data-toggle='tooltip', title='Move')
          | move
        i.eos-icons.eos-24.js-feedback-tool-close.js-tooltip(data-toggle='tooltip', title='Close')
          | close
    .feedback-tool-card-content.js-feedback-tool-form
      p
        | Report an issue or share an idea
      textarea.js-feedback-tool-message(name='feedback-tool-message', cols='10', rows='3', placeholder='We’d love to hear from you.')
      .message-length.js-message-length
        |
      .checkbox
        label
          input.js-feedback-tool-screenshoot-trigger(type='checkbox')
          | Include screenshot of current page
      .feedback-tool-attached-screenshoot.js-screenshot-name
      //- .screenshoot-wrap

      .feedback-tool-steps
        button.js-feedback-tool-send.btn.btn-primary.disabled(type='submit')
          | Send
    //-Success page
  .js-feedback-tool-card-success.feedback-tool-success
    .feedback-tool-card-header
      h6
        | Send feedback
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger
          | move
        i.eos-icons.eos-24.js-feedback-tool-close
          | close
    .card-content.feedback-tool-success
      p
        | Thank you for helping us improve EOS.
      img(src='/images/components/feedback-tool/bunny.svg', alt='EOS Bunny mascot image')
      button.js-feedback-tool-finish.btn.btn-primary
        | Finish
