/* Dropdown
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/dropdown/dropdown.variables.scss */
.dropdown-menu {
  h4 {
    margin-bottom: 0;
  }

  &.show {
    border-color: $eos-btn-dropdown-border-color;
    box-shadow: $eos-dropdown-shadow;
  }
}

.show .dropdown-toggle {

  &.btn-secondary {
    background-color: transparent;
    border-color: $eos-btn-dropdown-color;
    color: $eos-btn-dropdown-color;

    &:focus,
    &.focus {
      background-color: transparent;
      border-color: $eos-btn-dropdown-color-active;
      box-shadow: none;
      color: $eos-btn-dropdown-color-active;
    }
  }
}

.dropdown-item {
  &:hover {
    background-color: $eos-btn-dropdown-item-background-hover;
    color: $eos-btn-dropdown-item-color-hover;
  }

  &:active,
  &.active {
    background-color: $eos-btn-dropdown-item-background-active;
    color: $eos-btn-dropdown-item-color-active;
  }
}

.dropdown,
.dropright,
.dropleft,
.dropup {

  .dropdown-toggle {
    .eos-icons {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: none;
    }
  }
}

.dropdown-header {
  color: inherit;
}

.dropdown-divider {
  border-top-color: $eos-btn-dropdown-border-color;
}

