/* Dropdown variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-dropdown-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

/* secondary button */
$eos-btn-dropdown-color: $eos-bc-gray-1000;
$eos-btn-dropdown-color-active: $eos-bc-gray-500;
$eos-btn-dropdown-item-background-active: $eos-bc-green-500;
$eos-btn-dropdown-item-color-active: $eos-bc-white;
$eos-btn-dropdown-item-color-hover: $eos-bc-pine-500;
$eos-btn-dropdown-item-background-hover: $eos-bc-green-100;
$eos-btn-dropdown-border-color: $eos-base-border-color;
