/* States implementation variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-si-states-column-border: 1px solid $eos-bc-gray-50;
$eos-si-states-column-h4-background: $eos-bc-cerulean-500;
$eos-si-states-column-h4-color: $eos-bc-white;
$eos-si-radio-button-selected-background: $eos-bc-green-500;
$eos-si-radio-button-selected-border: 2px solid $eos-bc-green-500;
$eos-si-column-background-color: $eos-bc-gray-50;
$eos-si-column-example-box-background: $eos-bc-white;

$eos-si-error-color: $eos-bc-red-500;
$eos-si-disabled-color: $eos-bc-gray-300;
$eos-si-approved: $eos-bc-green-500;

$eos-si-range-disabled-color: $eos-bc-green-100;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */

$eos-si-states-column-h4-padding: $eos-xs $eos-m + 2;
$eos-si-list-margin: 16px 0 0 18px;
$eos-si-list-li-margin-bottom: $eos-s;
$eos-si-list-label-padding-left: $eos-s + 2;
$eos-si-radio-button-border: 2px solid $eos-bc-gray-700;
$eos-si-radio-button-height-width: $eos-m - 2;
$eos-si-radio-button-margin-top: $eos-xs;
$eos-si-column-padding: $eos-s $eos-m + 2;
$eos-si-example-box-padding: $eos-m;

$eos-si-states-example-box-min-height: 110px;


